*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "FF Mark", sans-serif;
  font-size: 1.8rem;
}
a {
  text-decoration: none;
}

// Containers and wrappers
.wrapper {
  width: 100%;
  max-width: $wrapper-max-width;
  margin: 0 auto;
}
