.hero {
  width: 100%;
  min-height: calc(100vh - 100px);

  .hero__content {
    @include font-weight("regular");
    padding: 30px 20px;
    .hero__title {
      @include font-weight("heavy");
      font-size: 7.2rem;
      font-weight: bold;
      word-break: keep-all;
      margin: 5px 0;
      line-height: 1;
    }
    .hero__subtitle {
      font-size: 2rem;
      font-weight: 300;
      color: var(--accent-font-color);
      letter-spacing: 12px;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .hero__text {
      font-size: 1.6rem;
      color: var(--secondary-font-color);
      margin: 5px 0;
      word-spacing: 3px;
    }
  }

  .hero__bigWatch {
    //max-width: 90%;
    max-height: 100%;
    position: relative;
    top: -20px;
  }
}
