@mixin transition($duration, $function: ease, $prop: all) {
  -webkit-transition: $prop $duration $function;
  -moz-transition: $prop $duration $function;
  -ms-transition: $prop $duration $function;
  -o-transition: $prop $duration $function;
  transition: $prop $duration $function;
}

@mixin card-shadow($blur: 50px) {
  box-shadow: 0 0 $blur rgba(0, 0, 0, 0.1);
}

// Helpers
@mixin not-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
@mixin not-draggable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// Animations
@mixin slide-in-left($duration, $delay) {
  -webkit-animation: slide-in-left $duration
    cubic-bezier(0.25, 0.46, 0.45, 0.94) $delay both;
  animation: slide-in-left $duration cubic-bezier(0.25, 0.46, 0.45, 0.94) $delay
    both;
} ;
